/* Your styles here */

/*BODY*/
body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgb(211, 211, 211);
}

/*HEADER*/
.bg-dark {
  background-color: #222f3e;
  color: #eaeded;
}

.bg-dark > img {
  width: 15%;
  padding-inline: 1rem;
  padding-top: 1rem;
  padding-bottom: 0.5rem;
}
/*NAV*/
.menu {
  background-color: #345477;
  color: white;
  height: 1.3rem;
  padding-inline: 1rem;
  padding-top: 0.3rem;
  padding-bottom: 0.3rem;
}

li {
  display: inline;
  padding: 0.7%;
}
.text-center {
  text-align: center;
  width: 100%;
}

.text-updown {
  padding-bottom: 1rem;
}
/*MAIN*/
main {
  margin: 1rem;
}

main a {
  text-decoration: none;
}

.bg-yellow {
  background-color: #f56600;
  color: #eaeded;
}

.bgUp > p {
  padding: 1rem;
}

.bgUp {
  background-image: url(../images/bg-image.png);
  text-align: center;
  color: #eaeded;
  padding: 5%;
  margin-top: 1rem;
}

.py-1 {
  padding: 0.5rem 0;
}

.bgUp > h1 {
  font-size: xx-large;
}

/*ARTICLE*/
.article {
  background-color: #eaeded;
}
/*PRIME QUATTRO IMMAGINI IN LINEA*/
.primoBox {
  margin-top: 1.2rem;
  background-color: #eaeded;
  padding-top: 0.6rem;
  margin-left: 1%;
}

.quatris {
  background-color: white;
  padding-bottom: 0.8rem;
  margin: 1%;
}

.img {
  display: inline-block;
  width: 24%;
  overflow: hidden;
  height: 250px;
  border-radius: 1%;
}

.img > img {
  width: 100%;
}
.imgGemelle {
  width: 100%;
  height: auto;
}

/*FOOTER*/
.footer {
  color: currentcolor;
}

.amazlog2 {
  text-align: center;
  padding: 2rem;
}
span {
  font-size: 75%;
  padding-left: 2%;
}
